.center {
    text-align: center;
}

.py-base {
    padding-block: var(--py-base);
}

.py-lg {
    padding-block: var(--py-lg);
}

.py-xl {
    padding-block: var(--py-xl);
}


.py-lg {
    padding-block: var(--py-lg);
}


.conteiner {
    width: min(100% - var(--px-lg) * 2, var(--max-width, 375px));
    margin-inline: auto;
}

.desktop-only {
    display: none;
}

.even-columns {
    display: grid;
    gap: 1rem;
}

.even-columns > * {
    min-width: 0;
}

.flex {
    display: flex;
}

.gap-1 {
    gap: 1rem;
}

.grid {
    display: grid;
}

@media(width >= 1280px) {
    .conteiner {
        --max-width: 1440px;
    }

    .desktop-only {
        display: initial;
    }

    .even-columns {
        grid-auto-flow:column;
        grid-auto-columns: 1fr;
    }
}